@use "../../styles/variables.scss" as *;

.graph {
  &>h3 {
    font-size: 1rem;
    margin: 0;
  }

  &>.graph-outer {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    border-color: #7b97aa;
    box-sizing: border-box;
    height: 250px;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;

    &>.global-graph-icon {
      cursor: pointer;
      background: none;
      border: 1px solid #7b97aa;
      color: #e9e9e9;
      opacity: 0.9;
      width: 24px;
      height: 24px;
      position: absolute;
      padding: 0.2rem;
      margin: 0.3rem;
      top: 0;
      right: 0;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.5s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--lightgray);
      }
    }
  }

  &>.global-graph-outer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, backdrop-filter 0.3s ease;
    pointer-events: none;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;

      &>.global-graph-container {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }

    &>.global-graph-container {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: color-mix(in srgb, var(--light), transparent 50%);
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border-radius: 15px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.95);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      height: 80vh;
      width: 80vw;

      @media all and not ($desktop) {
        width: 90%;
      }
    }
  }
}